* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
}
.header {
  box-shadow: 0px 0px 6px #ccc;
  nav {
    margin-bottom: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin: 0 2rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        color: #666;
      }
    }
  }
}

.search-container {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    font-family: "Oswald", sans-serif;
    height: 1rem;
    width: 48rem;
    padding: 1rem;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  button {
    border: none;
    background: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .restaurant-card {
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
    .order-btn {
      background: #000;
      padding: 1rem;
      color: #fff;
      border: none;
      margin: 2rem 0;
      cursor: pointer;
    }
  }
}

.footer {
  height: 5rem;
  text-align: center;
  background: #333;
  color: #fff;
  padding: 2rem;
}
