.banner {
  // background: url("../assets/images/banner-2.jpg");
  background: #171a29;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    font-family: "Oswald", sans-serif;
    color: #fff;
    width: 50%;
  }
  .banner-heading {
    height: 100%;
  }
}

/* .bg-shadow {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
} */

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  a {
    flex-basis: 30%;
  }
  .restaurant-card {
    margin-bottom: 6rem;
    .img-section {
      width: 100%;
      margin-bottom: 1rem;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

.search-container {
  margin: 4rem 0;
  position: relative;
  width: 50%;
  margin: 3rem 0;
  input {
    box-shadow: none;
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 1rem;
    background: #fff;
  }
  button {
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 2%;
  }
  .search-restaurants {
    position: absolute;
    top: 100%;
    width: 100%;
    ul {
      list-style: none;
      li {
        padding: 0.7rem 1.5rem;
        background: #fff;
      }
    }
  }
}

.search-restaurant {
  padding: 0.5rem 5rem;

  margin: 5rem 0;
  background: #ddd;
}
