.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    li {
      color: #eee;
    }
    h1 {
      a {
        text-decoration: none;
        color: #eee;
      }
    }
  }
}

.header-transparent {
  @extend .header;
  background: transparent;
}

.header-background {
  @extend .header;
  background: rgba(0, 0, 0);
}

.static-position {
  position: static;
}
