@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans", sans-serif;
}

body,
html,
:root {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bg-gray {
  background: #eee;
}

.icon-space {
  margin: 0 0.5rem;
}

.error-text {
  color: rgb(183, 51, 51);
}

.success-text {
  color: rgb(99, 201, 99);
}

.checked {
  color: orange;
}

.fa-star-o {
  color: #aaa;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    font-size: 1rem;
    &:not(:last-child) {
      &::after {
        content: ">";
        margin: 0 0.5rem;
      }
    }
    a {
      margin-right: 0.2rem;
      text-decoration: underline;
    }
  }
}
